* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2563eb;
    --bg: #f8fafc;
    --white: #ffffff;
    --text-dark: #1e293b;
    --text-light: #64748b;
    --danger: #ef4444;
    --shadow: 0 2px 6px rgba(0,0,0,0.08);
}

body {
    display: flex;
    background: var(--bg);
    font-family: 'Segoe UI', sans-serif;
    
    
}

.mobile-header {
    display: none;
}

.mobile-nav {
    display: none;
}


aside {
    width: 250px;
    height: 107vh;
    background: linear-gradient(135deg, var(--primary), #1e40af);
    padding: 20px;
    color: white;
}

aside h1 {
    text-align: center;
    margin-bottom: 30px;
}

.aside-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-button button {
    background: rgba(255,255,255,0.1);
    border: none;
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
 
.aside-button button:hover {
    transform: translateX(5px);
}

.main-cards {
    flex: 1;
    padding: 30px;
}

.header h2 {
    margin-bottom: 20px;
    color: var(--text-dark);
}

.header-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.cards {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    flex: 1;
    transition: 0.3s;
}

.cards:hover {
    transform: translateY(-5px);
}

.cards p {
    color: var(--text-light);
    margin-bottom: 10px;
}

.cards span {
    font-size: 22px;
    font-weight: bold;
}

.danger {
    color: var(--danger);
}


.section-grafic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-grafic {
    display: flex;
    gap: 20px;
}

.card {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.grafico-card {
    flex: 1;
    min-height: 280px;
}

.historico {
    min-height: 280px;
}

.text-container {
    font-weight: bold;
    margin-bottom: 15px;
}

.distribuicao-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legenda ul {
    list-style: none;
}

.legenda li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.cor {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-right: 8px;
}

.eletronicos { background: #4e73df; }
.roupas { background: #1cc88a; }
.acessorios { background: #f6c23e; }
.outros { background: #e74a3b; }

.grafico {
    width: 55%;
}


canvas {
    width: 100% !important;
    height: 200px !important;
}


#sidebar {
    transition: 0.3s ease;
}

#overlay {
    display: none;
}

-------------------------------- PÁGINA DE CADASTRO -- ------------------------------


.cadastro-card p{
    color: var(--text-light);
    margin-bottom: 40px;
}

.cadastro-page .text-card {
    margin-bottom: 10px;
}

.cadastro-page input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}


.cadastro-page select{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    ;
}

.cadastro-page .Information {
    width: 100%;
    
}

.cadastro-page .Information-container {
    display: flex;
    gap: 80px;
}


.cadastro-page .Information-sons{
   
     width: auto;
    display: flex;
    gap: 20px;
}

.cadastro-page .Information-financial {
    width: auto;
    
    
}
    

   

.cadastro-page .cadastro-card {
    
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    max-width: 100%;
    margin-top: 30px;
    height: auto;
}



@media (max-width: 768px) {

    body {
        flex-direction: column;
    }

    aside {
        position: fixed;
        top: 0;
        left: -260px;
        width: 260px;
        height: 100vh;
        background: linear-gradient(135deg, #2563eb, #1e40af);
        padding: 20px;
        z-index: 2000;
        transition: left 0.3s ease;
    }

    aside.active {
        left: 0;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        z-index: 1500;
        display: none;
    }

    #overlay.active {
        display: block;
    
}


    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background: linear-gradient(135deg, #2563eb, #1e40af);
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .menu-icon {
        font-size: 22px;
        cursor: pointer;
    }

    

    .main-cards {
        padding: 20px;
    }

    .header-cards {
        flex-direction: column;
    }

    .main-grafic {
        flex-direction: column;
    }

    .grafico-card,
    .historico {
        width: 100%;
    }

    .distribuicao-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .grafico {
        width: 100%;
    }

    canvas {
        height: 220px !important;
    }

    /* MENU INFERIOR */
    .mobile-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
        padding: 10px 0;
        box-shadow: 0 -2px 8px rgba(0,0,0,0.08);
        border-top: 1px solid #e2e8f0;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        color: #64748b;
        cursor: pointer;
    }

    .nav-item.active {
        color: #2563eb;
        font-weight: 600;
    }

    .nav-item span {
        margin-top: 3px;
    }

    /* Espaço para não ficar atrás do menu */
    .section-grafic {
        padding-bottom: 80px;
    }

    .cadastro-page .Information-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
}